{% extends "layout.html" %}

{% block pageTitle %}
Task list
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<head>
  <meta name="viewport" content="width=100%, initial-scale=1">
  <style>
    body {
      margin: 0;
    }

    .topnav {
      overflow: hidden;
      background-color: #f8f8f8;
    }

    .topnav a {
      box-sizing: border-box;
      display: block;
      position: relative;
      height: 50px;
      float: left;
      color: #1d70b8;
      text-align: center;
      padding: 0 15px;
      font-weight: 700;
      font-size: 1rem;
      line-height: 50px;
      text-decoration: none;
    }

    .topnav a:active {
      background-color: #f8f8f8;
      color: #1d70b8;
    }

    .topnav a:hover {
      text-decoration: underline;
    }

    .topnav .current {
      background-color: #f8f8f8;
      color: #1d70b8;
      border-bottom: 4px;
      border-bottom-style: solid;
      border-bottom-color: #1d70b8;
    }
  </style>
</head>

<body>
  <div class="topnav">
    <a class="current" href="#contribute">Contribute</a>
    <a href="#styles">Styles</a>
    <a href="#components">Components</a>
    <a href="#patterns">Patterns</a>
  </div>
</body>





{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <dl class="govuk-summary-list">
      <h2 class="govuk-heading-m">Your details</h2>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Louise Vernon
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> name</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email
        </dt>
        <dd class="govuk-summary-list__value">
          louise@digital.homeoffice.gov.uk
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <h2 class="govuk-heading-m" style="padding-top:40px">Your project</h2>
      <div class="govuk-summary-list__row">

        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          Design example
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact information</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Alpha</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Image
        </dt>
        <dd class="govuk-summary-list__value">
          <img src="/public/images/screenshot.png" style=";max-width:420px; alt=" Screenshot of design example.">
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Context
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">This is a longer paragraph of text provided by the user to provide additional information.</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Research
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">This is a longer paragraph of text provided by the user to provide additional information.</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>

      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Additional material
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">https://github.com/alphagov/govuk-design-system-backlog</p>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> contact details</span>
          </a>
        </dd>

      </div>



    </dl>

    <a href="confirmation.html">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </a>




  </div>
</div>

{% endblock %}
